/*Site*/
html {
  background-color: rgb(23, 0, 52);
  background-image: url(https://unsplash.com/photos/nY14Fs8pxT8/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8M3x8dGVjaCUyMGJhY2tncm91bmR8ZW58MHx8fHwxNjY4MTI1ODYw&force=true&w=2400);
  background-size: cover;
  background-attachment: fixed;
}

body {
  background: transparent !important;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

.content-container {
  min-height: calc(100vh - 136px);
  padding-top: 50px;
}

/* Nav */
.navbar {
  background-color: rgb(0,0,0,0.2);
  min-height: 100px;
}

.navbar-brand {
  font-size: 1.6rem !important;
  font-family: 'Bungee Inline', cursive !important;
  text-transform: uppercase;
  width: 330px;
}

.nav-item {
  text-transform: uppercase;
  padding: 0px 10px;
  font-family: 'Montserrat', sans-serif !important;
}

/*Claim Page*/

#claimForm .card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-top: 20px;
}

#claimForm .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form-control:focus, .form-select:focus {
  color: #212529;
  background-color: #fff;
  border-color: rgba(77, 54, 132) !important;
  box-shadow: 0 0 0 0.25rem rgba(175, 46, 144, 0.25) !important;
}

#claimForm .form-group {
  margin: 20px 0px;
}

#claimForm label {
  text-align: right;
}

span#dollar {
  display: inline-block;
  position: relative;
}

span#dollar::before {
  content: "$";
  font-size: 1em;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

input#estimatedAmount {
  padding-left: 18px;
}

#fullClaimDisplay td {
  padding: 40px;
}

/*SearchPage*/

.card-title {
  font-weight: 700;
}

.form-check-input:checked {
  background-color: rgba(77, 54, 132) !important;
  border-color: rgba(77, 54, 132) !important;
}

.form-check {
  margin: 10px 0px;
}

/* Footer*/
footer {
  background-color: rgb(0,0,0,0.2);
  min-height: 100px;
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

/* Buttons */
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgba(77, 54, 132) !important;
  border-color: rgb(77, 54, 132) !important;
}

.btn-primary:hover {
  background-color: rgba(110, 58, 143) !important;
}

.btn-secondary {
  background-color: rgb(253, 87, 171) !important;
  border-color: rgb(253, 87, 171) !important;
  color: rgba(255, 255, 255) !important;
}

.btn-secondary:hover {
  background-color: rgb(196, 26, 111) !important;
  border-color: rgb(196, 26, 111) !important;
}

.align-items-center {
  display: flex;
  align-items: center;
}

label {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
}

.formError {
  margin-top: 8px;
  text-align: center;
}

.login {
  position: absolute;
    right: 50px;
    margin-top: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
}

.btn-login {
  margin-top: 5px;
  display: block;
  color: white;
}